<%- include('partials/header') %>
<%- include('partials/navigation') %>

<section class="mt-5">
    <div class="container">
        <div class="row p-5">
            <div class="col text-center">
                <h1><%= title %></h1>
                <br>
                <p>Hey, Welcome to <%= title %> <br>By <%= author %></p>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>